extends layout

block content
  div.container
      div.card.mt-5.mx-auto
        div.row.g-0
          div.col-4.mx-auto
            img.img-fluid(src="https://images.unsplash.com/photo-1660721858715-54a4ec915458?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80", alt="")
          div.col-md-8
            div.card-body
              h6 Title:
              h6 Director:
              h6 Genre:
              h6 Released Date:
              h6 Rating:
              h6 Description:
              p.card-text hello testing 